certifi==2025.8.3
distlib==0.4.0
filelock==3.19.1
iniconfig==2.1.0
packaging==25.0
pipenv==2025.0.4
platformdirs==4.4.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
pytest-mock==3.14.1
setuptools==80.9.0
virtualenv==20.34.0
